@charset "UTF-8";
/// Neat default grid.
///
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Number of grid columns
///
/// @property {number (with unit)} gutter [40px]
///   Grid gutter width.
///
/// @property {string} style [floated]
///   Style of grid. Options are floated and flex.
///
/// @access private

$neat-default-grid: (
  columns: 12,
  gutter: 20px,
  style: floated
);
